<h3>Create user</h3>

<form action="/createUser" method="POST">
    <label>Username</label>
    <input name="username">
    <label>Password</label>
    <input name="password">
    <button type="submit">Signup</button>
</form>