<h3>Create user</h3>

<form action="/user/createUser" method="POST">
    <label>Username</label>
    <input name="username">
    <label>Password</label>
    <input name="password">
    <label>email</label>
    <input name="email">
    <label>name</label>
    <input name="name">
    <label>last name</label>
    <input name="last_name">
    <label>profile pic (URL)</label>
    <input name="profileImage">
    <button type="submit">Signup</button>
</form>