<h3>Create post</h3>

<form action="/post/createPost" method="POST">
    <label>Content</label>
    <input name="content">
    <label>id user (id)</label>
    <input name="_author">
    <button type="submit">Send</button>
</form>